# Backend
backend/__pycache__/
backend/.env
backend/.venv/
backend/venv/
backend/world_cup.db
backend/alembic.ini

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
